.main-Container{
    /* display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 10px;
    height: 1000px;
    border: black solid;
    z-index: 1; */
    display: grid;
    align-items: center;
    grid-template-columns: 5% 95%;
    margin-left: 20px;

}

.emoji-picker-react{
    position: fixed;
    top: 180px;
    left: 460px;
    
}
.input-container{
    display: flex;

}
.msg-input{
    width: 800px;
}