.main-Container{
    display: grid;
    align-items: center;
    grid-template-columns: 5% 95%;
    margin-left: 20px;
}

.emoji-container{
    position: absolute;
    top: 180px;
    left: 460px;
    z-index: 2;
    

    
}

.input-container{
    display: flex;

}
.msg-input{
    width: 800px;
}